@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:  #EEECEC;
    font-family: 'Istok Web', sans-serif;
}
/*GENERAL*/

/*ESTILOS DE LA CABECERA PRINCIPAL*/
header{
    width: 100%;
    height: auto;
    background-color: #85CDE8;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}

#logotipo{
    font-size: 24px;
    color: #000;
    letter-spacing: 2px;
    text-decoration: underline;
    font-weight: 350;
}

.input_search{
    border: none;
    border-radius: 6px;
    width: 40vw;
    height: 1.2rem;
}

.imagen_cabecera{
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.icono_buscar{
    width: 27px;
    height: 27px;
    background-image: url("../src/lupa.png");
    background-size: cover;
    border: none;
}

.opciones{
    padding-top: 15px;
}

.opciones img{
    margin-left: 30px;
}

/*Seccion para visualizar el producto*/

section{
    width: 75%;
    height: 70vh;
    margin: 20px 8%;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imagen{
    width: 65%;
    height: 100%;
}

.descripcion{
    width: 35%;
    height: 100%;
    padding: 15px;
}

section img{
    width: 90%;
    height: 90%
}

/*Descripcion*/
#precio_producto{
    color: #24a30a;
}

.descripcion button{
    width: 80%;
    height: 35px;
    margin-top: 40px;
    margin-left: 15%;
    border: 0.5px solid #000;
    border-radius: 4px;
    background-color: #85CDE8;
    color: #000;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.descripcion button:hover{
    background-color: #fff;
    color: #000;
    border: 3px solid #85CDE8;
}